node_modules
./node_modules
.DS_Store
dist
dist-ssr
*.local
.env
./package-lock.json
package-lock.json

logs/access.log
logs/out.log
./logs/access.log
./logs/out.log

./logs/
logs/*
./logs/*

api.rest
./api.rest

Dockerfile
./Dockerfile
dockerfile
./dockerfile

.dockerignore
./.dockerignore

templatedocker-compose.yml
./templatedocker-compose.yml

./public
public

./public/*
public/*

./PAT
PAT
